/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 table#talk{
     position: absolute;
     top: 50px;
     left: 350px;
     border-collapse: collapse;
     text-align: left;
     line-height: 1.5;
     border-top: 1px solid #ccc;
     border-left: 1px solid #ccc;
     background-color: #eee
 }
 table#talk th{
    text-align: center;
    border-bottom: 1px solid #111;
    line-height: 3.0;
 }
 table#talk th{
     width: 700px;
 }
 table#talk td{
     width: 350px;
 }
 table th.title{
     text-align: center;
 }
 h1{
     text-align: center;
 }
 .right{
    background: #00DD00;
    color: #000000;
    padding: 8px 8px 8px 2px;
    margin: 10px 10px 10px 0px;
    position:relative;
    height:auto;
    width:auto;
    text-align: left;
    border-radius: 10px;
 }
 .right:before{
    content: ' ';
    width:0;
    height:0;
    position:absolute;
    border:11px solid transparent;
    border-left-color: #00DD00;
    top:25%;
    left:100%;
 }
 .left{
    background: #fff;
    color: #000000;
    padding: 8px 8px 8px 2px;
    margin: 10px 10px 10px 10px;
    position:relative;
    height:auto;
    width:auto;
    text-align: left;
    border-radius: 10px;
 }
 .left:before{
   content: ' ';
   width:0;
   height: 0;
   position:absolute;
   border:10px solid transparent;
   border-right-color: #ffffff;
   top:25%;
   right:100%;
 }
 div{
     text-align: center;
 }
 table#chats{
     position: absolute;
     top: 200px;
     left: 100px;
     border-collapse: collapse;
     text-align: left;
     line-height: 1.5;
     border-top: 1px solid #ccc;
     border-left: 3px solid green;
     background-color: #eee
 }
 table#chats th{
     width: 147px;
     padding: 10px;
     font-weight: bold;
     vertical-align: top;
     color: #153d73;
     border-bottom: 1px solid #ccc;
 }
 table#chats td{
     width: 600px;
     padding: 10px;
     vertical-align: top;
     border-bottom: 1px solid #ccc;
 }
 table#chats td.delete{
     width: 100px
 }

 table#friends{
     position: absolute;
     top: 200px;
     left: 1050px;
     border-collapse: collapse;
     text-align: left;
     line-height: 1.5;
     border-top: 1px solid #ccc;
     border-left: 3px solid green;
     background-color: #eee
 }
 table#friends th{
     width: 147px;
     padding: 10px;
     font-weight: bold;
     vertical-align: top;
     color: #153d73;
     border-bottom: 1px solid #ccc;
 }
 table#friends td{
     width: 100px;
     padding: 10px;
     vertical-align: top;
     border-bottom: 1px solid #ccc;
 }
 table tr{
     border-right: 1px solid #ccc;
 }
 table#mainmenu{
     position: absolute;
     top:130px;
     left:200px;
     border-collapse: collapse;
     text-align: center;
     line-height: 1.5;
     border-top: 1px solid #ccc;
     border-left: 1px solid #ccc;
     background-color: #eee
 }
 table#mainmenu th{
     width: 250px;
 }
